/adhoc/download-missing-files.sh
/admin/scrap.sql
temp
temp-testing
wp_live-glandscapedesign-backup.sql
wp_dev.sql
wp_dev-example-client.sql
wp_dev-live-old.sql
wp_live.sql
adhoc
/admin/.archive
/admin/*.log
